---
import BlogLayout from "../../layouts/blogLayout.astro";
import Meta from "../../components/Meta.astro";
import { formatBlogPosts } from "../../utils/utils";
import SocialShare from "../../components/SocialShare.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  let posts = (await Astro.glob(
    "../../posts/**/*.{md,mdx}"
  )) as MarkdownPropsGlob[];

  let postsToLinkTo = posts.filter((post) => post.frontmatter.draft !== true);
  // console.log(
  //   postsToLinkTo.find(
  //     (post) => post.frontmatter.slug === "valencia-trip-180-days"
  //   )
  // );

  return posts.map((post) => {
    return {
      params: {
        slug: post.frontmatter.slug,
      },
      props: {
        post,
        postsToLinkTo,
      },
    };
  });
}

interface Props {
  post: MarkdownPropsGlob;
  postsToLinkTo: MarkdownPropsGlob[];
}

const { Content, frontmatter } = Astro.props.post;
let { postsToLinkTo } = Astro.props;

const { slug } = Astro.params;

postsToLinkTo = postsToLinkTo.filter((post) => post.frontmatter.slug !== slug);

const date = new Date(frontmatter.date);
date.setDate(date.getDate() + 1);

function shortenString(str, cutoff) {
  // Split the input string into an array of words
  const words = str.split(" ");

  // If the number of words is less than or equal to the cutoff, return the original string
  if (words.length <= cutoff) {
    return str;
  }

  // Otherwise, return a shortened string with only as many words as the cutoff allows
  return words.slice(0, cutoff).join(" ") + "...";
}

// const { data: comments } = await getEntry("comments", "comments");
// console.log(comments);
---

<BlogLayout title={`${frontmatter.title} | ${frontmatter.author}`}>
  <Meta
    slot="meta"
    description={frontmatter.description}
    tags={frontmatter.tags}
    title={frontmatter.title}
    image={frontmatter.image.url}
    canonicalUrl={`https://aadilmallickblog.tech/posts/${frontmatter.slug}`}
  />
  <article class="max-w-3xl mx-auto mt-48 sm:mt-32 mb-64" id="article">
    <!-- article header -->
    <aside class="flex gap-4 items-center flex-wrap mb-4" id="aside">
      <img
        src="/aadilbrickbg.jpg"
        alt="aadil mallick"
        class="h-16 w-16 rounded-full object-top m-0"
        fetchpriority="high"
        width="64"
        height="64"
      />
      <div>
        <p
          class="font-light text-lg tracking-widest uppercase text-gray-500 m-0"
        >
          {frontmatter.author}
        </p>
        <p class="m-0 text-sm">{date.toDateString()}</p>
      </div>
      <div class="flex space-x-4 items-center flex-1">
        {
          frontmatter.tags.map((tag) => (
            <span class="inline-block bg-fuchsia-600 text-white text-sm font-bold py-1 px-3 rounded-full uppercase">
              {tag}
            </span>
          ))
        }
      </div>
      <p
        class="m-0 bg-slate-200 px-4 py-1 text-gray-600 rounded-full text-sm font-semibold"
      >
        {frontmatter.minutesRead}
      </p>
    </aside>
    <div class="flex items-center gap-x-4">
      <SocialShare post={Astro.props.post} />
      <button id="copy-button" class="bg-black text-white font-semibold text-base tracking-wide py-2 px-4 rounded-lg hover:bg-slate-200 hover:text-black transition duration-200 ease-in-out border border-black">Copy</button>
    </div>
    <hr class="mb-14" />
    <!-- article image -->
    <div>
      <h1>{frontmatter.title}</h1>
      <img
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="w-full object-cover mb-0"
        fetchpriority="high"
      />
    </div>
    <!-- table of contents -->
    <menu id="toc">
      <h2 class="border-b-2 border-b-slate-400 pb-2 font-light" id="toc-header">
        Table of Contents
      </h2>
    </menu>
    <Content />
    <hr class="border-gray-400" />

    <aside
      class="mt-4 bg-slate-100 py-8 px-4 rounded-lg shadow-lg border-slate-300 border-2"
    >
      <!-- call to action: share article  -->
      <div
        class="flex items-start gap-8 flex-wrap justify-center md:justify-start"
      >
        <div class="flex gap-4 items-center">
          <img
            src="/aadilbrickbg.jpg"
            alt="aadil mallick"
            class="h-16 w-16 rounded-full object-top m-0 shadow-xl"
            height="64"
            width="64"
            loading="lazy"
          />
          <div>
            <p
              class="font-light text-lg tracking-widest uppercase text-gray-500 m-0"
            >
              {frontmatter.author}
            </p>
            <p class="m-0 text-sm">{date.toDateString()}</p>
          </div>
        </div>
        <div class="flex flex-col space-y-4">
          <p class="m-0 text-center sm:text-left">
            If you liked this article, why not share it?
          </p>
          <button
            id="share"
            class="bg-black text-white font-semibold text-base tracking-wide py-2 px-4 rounded-lg hover:bg-slate-200 hover:text-black transition duration-200 ease-in-out border border-black"
            >Share This Article</button
          >
          <SocialShare post={Astro.props.post} />
        </div>
      </div>

      <div class="border-b border-slate-400 my-6"></div>
      <div class="text-center sm:text-left">
        <p class="max-w-xs text-lg font-light tracking-wider uppercase m-0">
          More Articles
        </p>
        <div class="space-y-4 mt-4">
          {
            postsToLinkTo
              .map((post) => (
                <a
                  href={`/posts/${post.frontmatter.slug}`}
                  class="cursor-pointer hover:opacity-50 block leading-[120%]"
                >
                  {post.frontmatter.title}
                </a>
              ))
              .slice(0, Math.min(postsToLinkTo.length, 5))

            // limit to 5 articles or less
          }
        </div>
      </div>
    </aside>
  </article>
</BlogLayout>

<script
  define:vars={{
    url: `https://aadilmallickblog.tech/posts/${frontmatter.slug}`,
    title: frontmatter.title,
    text: `Article by Aadil Mallick: ${frontmatter.description}`,
  }}
>
  const shareBtn = document.querySelector("#share");
  const copyBtn = document.querySelector("#copy-button");

  copyBtn.addEventListener("click", async () => {
    const articleText = document.querySelector("#article") as HTMLElement | null;
    if (articleText) {
      try {
        await navigator.clipboard.writeText(articleText.innerText);
        copyBtn.textContent = "Copied!";
        setTimeout(() => {
          copyBtn.textContent = "Copy";
        }, 2000);
      } catch (err) {
        console.error("Failed to copy article text: ", err);
        copyBtn.textContent = "Error";
        setTimeout(() => {
          copyBtn.textContent = "Copy";
        }, 2000);
      }
    }
  });

  shareBtn.addEventListener("click", () => {
    navigator.share({
      title: title,
      text: text,
      url: url,
    });
  });
</script>

<script>
  class DOM {
    static createDomElement(html: string) {
      const dom = new DOMParser().parseFromString(html, "text/html");
      return dom.body.firstElementChild as HTMLElement;
    }
    static $ = (selector: string): HTMLElement | null =>
      document.querySelector(selector) as HTMLElement | null;
    static $$ = (selector: string): NodeListOf<HTMLElement> =>
      document.querySelectorAll(selector);

    static selectWithThrow = (selector: string): HTMLElement => {
      const el = DOM.$(selector);
      if (!el) {
        throw new Error(`Element not found: ${selector}`);
      }
      return el;
    };

    static addElementsToContainer(
      container: HTMLElement,
      elements: HTMLElement[]
    ) {
      const fragment = document.createDocumentFragment();
      elements.forEach((el) => fragment.appendChild(el));
      container.appendChild(fragment);
    }
  }

  function html(strings: TemplateStringsArray, ...values: any[]) {
    let str = "";
    strings.forEach((string, i) => {
      str += string + (values[i] || "");
    });
    return str;
  }

  const toc = document.getElementById("toc") as HTMLMenuElement;
  const headings = [...document.querySelectorAll("h2, h3, h4, h5, h6")].filter(
    (heading) => heading.id !== "toc-header"
  );
  const classes = [
    "bg-slate-100",
    "p-4",
    "rounded-lg",
    "shadow-lg",
    "border-slate-200",
    "border-2",
    "my-4",
  ];
  toc.classList.add(...classes);
  const headingsListElements = headings.map((heading) => {
    const id = heading.id;
    const text = heading.textContent;
    const tag = heading.tagName;
    const level = parseInt(tag.slice(1));
    const link = html`<a href="#${id}" class="text-black">${text}</a>`;
    const li = DOM.createDomElement(html`<li>${link}</li>`);
    li.style.paddingLeft = `${level * 1 * 0.5}rem`;
    li.style.fontSize = `${Math.max(2 - level * 0.25, 0.75)}rem`;
    return li;
  });
  DOM.addElementsToContainer(toc, headingsListElements);

  // DOM.$$("audio")?.forEach((audio: HTMLAudioElement) => {
  //   audio.addEventListener("canplay", () => {});
  // });
</script>
